<% @contact.each do |contact| %>
  <p>First Name: <%= contact.first_name %></p>
  <p>Last Name: <%= contact.last_name %></p>
  <p>Email: <%= contact.email %></p>
  <p>Phone Number: <%= contact.phone_number %></p>
  <a href="/contacts/<%= contact.id %>">Click for more info</a>
  <hr>
<% end %>